
/* Disgusting, pls fix */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Source Sans Pro";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: black;
	overflow: hidden;
	background: #f7f7f7;
	/* TODO Implement actual font sizing */
	font-size: 80%;
	color: #222;
}
button,
input[type="text"],
input[type="number"],
.select-container,
select {
	border: none;
	background: #ddd;
	font-size: .8em;
	padding: .4em .8em;
	outline: 0;
}
.select-container {
	padding: 0;
	display: inline-block;
}
select h1 {
	font-size: .5em;
}
input[type="checkbox"] {
	-webkit-filter: saturate(0);
	filter: saturate(0);
}
hr {
	height: 0;
	border: 2px solid #ddd;
	margin: 10px 60px;
}
h1 {
	font-size: 1.2em;
	font-weight: 900;
}
.light {
	text-transform: capitalize;
}
.light::after {
	content: "";
	display: inline-block;
	margin-left: 0.5em;
	background: #CCC;
	width: 1.625em;
	height: .75em;
}
.light.grn::after {
	background: #87D37C;
}
.light.red::after {
	background: #EC644B;
}
.button {
	font-size: .85em;
	padding: .75em 1.5em;
	background: #2E6DB0;
	color: white;
	text-decoration: none;
}
.button:hover {
	background: #29609a;
}

/* Major interface components */
#top {
	margin: 30px 40px;
	vertical-align: middle;
	text-transform: lowercase;
	font-size: 80%;
	overflow: hidden;
}
#top span {
	display: inline-block;
	float: left;
	margin: .5em;
}
#top span i {
	margin-right: .5em;
}
#logo {
	width: 7.5em;
	margin-right: 20px;
	vertical-align: middle;
	float: left;
}
#status h1 {
	font-size: 2.2em;
	font-weight: 900;
	line-height: 0.9;
}
#status h2 {
	font-size: 1em;
	font-weight: 900;
	text-transform: uppercase;
}
#robot-state::after {
	content: "";
	display: inline-block;
	margin-left: 0.5em;
	background: #EC644B;
	width: 1.125em;
	height: 0.5em;
}
#robot-state.connected::after {
	background: #87D37C;
}
#status-code {
	position: fixed;
	top: 30px;
	right: 40px;
	text-align: right;
	color: #2E6DB0;
}
#status-code.bad {
	color: #EF4836;
}
#status-code h1 {
	font-size: 3.5em;
	font-weight: 900;
	text-transform: uppercase;
}
#status-code h2 {
	font-size: 0.85em;
	line-height: 0;
}
main {
	clear: both;
	margin: 0 40px;
}
main > div {
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}
main h1 {
	margin: 0.5em 0.2em;
	text-transform: uppercase;
}

/* Specific styling */
#properties {
	text-align: center;
}
#properties h1 {
	text-align: left;
}
#properties div {
	vertical-align: top;
	display: inline-block;
	min-width: 125px;
}
#camera img,
table {
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15);
}
#camera img {
	display: block;
	width: 30em;
	margin-bottom: 10px;
}
#camera img.offline::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	content: "Offline";
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
}
#table {
	position: fixed;
	bottom: 30px;
	right: 40px;
	text-transform: uppercase;
}
table {
	display: block;
	border-collapse: collapse;
	max-height: 350px;
	overflow-y: scroll;
}
th, td {
	text-align: left;
	padding: 1em 2.8em;
}
tr {
	background: #ebebeb;
}
tr:nth-child(even) {background-color: #dfdfdf}
th {
	background-color: #2E6DB0;
	color: white;
}

/* Smaller displays (do we need this?)
@media (max-width: 1000px), (max-height: 600px) {
	#top {
		font-size: 80%;
	}
	#camera, #table {
		font-size: 80%;
	}

	table {
		max-height: 300px;
	}
}

@media (max-width: 800px), (max-height: 500px) {
	#top {
		font-size: 70%;
	}
	#camera, #table {
		font-size: 60%;
	}

	table {
		max-height: 200px;
	}
}*/
